.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

.no-stock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;

    img {
        width: 10%;
    }
}